<nav class="navbar">
    <a href="#" class="logo">ARIANE PROJECT</a>

    <div class="nav-links" >
        <ul>
            <li> <a  href="#" title="Accueil">Présentation</a></li>
            <li> <a  href="#" title="Parcours">Consultations</a></li>
            <li> <a  href="#" title="Expériences">Expériences</a></li>
            <li> <a  href="#" title="Informations pratiques">Informations Pratiques</a></li>
        </ul>

    </div>

    <img src="{{ asset('img/menu1.jpg') }}" alt="menu hamburger" class="menuHamburger">
</nav>